:root {
  --font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-weight: 400;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    max-width: 1105px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__header {
    padding-top: 25px;
    display: flex;
    gap: 140px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 150%;
    color: #100024;
}

.header__nav {
    display: flex;
    gap: 25px;
}

.header__nav-button {
    display: flex;
    gap: 10px;
}

.header__account-buttons {
    display: flex;
    gap: 15px;
}

.header__login-button {
    border-radius: 8px;
    width: 76px;
    height: 40px;
    box-shadow: 0 0 0 0 #ccccd4;
    background: #fff;
    padding: 8px;
}

.header__signup-button {
    color: #fff;
    border-radius: 8px;
    width: 87px;
    height: 40px;
    box-shadow: 0 0 0 0 #100024;
    background: #100024;
    padding: 8px;
}

.hero {
    display: flex;
    gap: 120px;
    padding-top: 80px;
}

.hero__left-col {
    padding-top: 35px;
}

.hero__title {
    font-size: 60px;
    line-height: 113%;
    letter-spacing: 0.01em;
    color: #100024;
    text-align: left;
}

.hero__subtitle {
    font-size: 18px;
    line-height: 156%;
    color: #34343d;
    text-align: left;
    padding-top: 30px;
}

.hero__buttons {
    display: flex;
    gap: 15px;
    padding-top: 45px;
}

.hero__signup-button {
    border-radius: 8px;
    width: 147px;
    height: 62px;
    box-shadow: 0 0 0 0 #100024;
    background: #100024;
    font-size: 20px;
    line-height: 150%;
    color: #fff;
    padding: 16px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-content: center;
}

.hero__contactus-button {
    font-size: 20px;
    line-height: 150%;
    color: #100024;
    border-radius: 8px;
    width: 147px;
    height: 62px;
    box-shadow: 0 0 0 0 #ccccd4;
    background: #fff;
    padding: 15px;
}

.hero__right-col {
    background-image: url(./images/hero_background.png);
    background-repeat: no-repeat;
    background-size: auto;
    padding-bottom: 130px;
}

.hero__image {
    padding-left: 25px;
    padding-right: 25px;
}

.partners {
    padding-bottom: 37px;
}

.partners__title {
    font-size: 20px;
    line-height: 140%;
    color: #4b4b55;
}

.partners__list {
    padding-top: 65px;
    display: flex;
}

.advantages {
    background-color: #F6F5F9;
}

.advantages__inner {
    padding-top: 130px;
    padding-bottom: 130px;
}

.advantages__border {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 1104px;
    height: 388px;
}

.advantages__header {
    padding-top: 86px;
    display: flex;
    gap: 115px;
    align-items: center;
    padding-left: 80px;
}

.advantages__title {
    font-size: 48px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #100024;
    text-align: left;
    max-width: 435px;
}

.advantages__subtitle {
    font-size: 18px;
    line-height: 156%;
    color: #4b4b55;
    text-align: left;
    max-width: 385px;
}

.advantages__list {
    padding-top: 60px;
    display: flex;
    gap: 25px;
    padding-left: 80px;
    padding-bottom: 80px;
}

.advantages__item {
    border-radius: 50px;
    width: 272px;
    height: 44px;
    background: #e5f8f4;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 156%;
    color: #103735;
}

.solutions {
    padding-top: 130px;
    padding-bottom: 130px;
}

.solutions__inscription {
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3c4d89;
    border-radius: 6px;
    max-width: 103px;
    max-height: 28px;
    background: #e5eefb;
    margin-left: auto;
    margin-right: auto;
}

.solutions__title {
    font-size: 48px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #100024;
    padding-top: 16px;
}

.solutions__sections {
    padding-top: 65px;
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

.solution__section {
    border: 1px solid #ccccd4;
    border-radius: 8px;
    width: 536px;
    height: 498px;
}

.solution__section-top {
    padding: 35px;
    background-image: url(./images/solution1_bg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

.solution__section-top2 {
    padding: 35px;
    background-image: url(./images/solution2_bg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

.solution__section-bottom {
    padding-left: 33px;
    padding-right: 40px;
}

.solution__section-title {
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.01em;
    color: #100024;
    text-align: left;
    padding-top: 30px;
}

.solution__section-subtitle {
    font-size: 18px;
    line-height: 156%;
    color: #4b4b55;
    padding-top: 35px;
    text-align: left;
}

.suite {
    background-color: #F6F5F9;
    padding-top: 130px;
    padding-bottom: 190px;
}

.suite__inscription {
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #206c5e;
    border-radius: 6px;
    width: 123px;
    height: 28px;
    margin: auto;
    padding: 4px;
    background: #ccefe9;
}

.suite__title {
    font-size: 48px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #100024;
    padding-top: 25px;
}

.suits__flights-api {
    border-radius: 8px;
    width: 1104px;
    height: 821px;
    background: #fff;
}

.flights-api__cols {
    display: flex;
    gap: 70px;
}

.flights-api__left-col {
    padding-top: 180px;
    padding-left: 40px;
}

.flights-api__title {
    font-size: 36px;
    line-height: 122%;
    letter-spacing: 0.01em;
    color: #100024;
    text-align: left;
}

.flight-api__subtitle {
    padding-top: 35px;
    font-size: 18px;
    line-height: 156%;
    color: #4b4b55;
    text-align: left;
    max-width: 600px;
    min-width: 330px;
    padding-bottom: 30px;
}

.flights-api__button {
    border-radius: 8px;
    width: 276px;
    height: 59px;
    box-shadow: 0 0 0 0 #ccccd4;
    background: #fff;
    font-size: 18px;
    line-height: 150%;
    color: #100024;
}

.flights-api__right-col {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 40px;
}

.flights-api__image {
    border-radius: 8px;
    width: 300px;
    height: 254px;
    background: #f6f5f9;
}

.flight-api__image-title {
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #100024;
    text-align: left;
    padding: 25px;
}

.flights-api__stripe {
    margin-top: 50px;
    margin-left: 40px;
    content: "";
    display: block;
    width: 1024px;
    height: 1px;
    background: #e2e2e8;
}

.flight-api__managed-content {
    margin-top: 50px;
    border-radius: 8px;
    width: 1024px;
    height: 112px;
    background: #e5f8f4;
    margin-left: 40px;
    display: flex;
    gap: 320px;
    justify-content: center;
    align-items: center;
}

.managed-content__title {
    font-size: 20px;
    line-height: 140%;
    color: #103735;
    text-align: left;
    padding-left: 30px;
}

.managed-content__button {
    font-size: 16px;
    line-height: 150%;
    color: #103735;
    text-align: left;
    max-width: 460px;
}
